main {
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Open Sans';
    padding: 20px 0;
    text-align: center;

    .row {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 15px;
        text-align: start;
    }

    .col {
        flex-basis: calc(100% / 5 - (60px / 5));
    }

    button {
        color: white;
        border: 1px solid transparent;
        background-color: rgb(12, 105, 247);
        padding: 10px 35px;

        &:hover {
            cursor: pointer;
            background-color: white;
            color: rgb(12, 105, 247);
        }
    }
}